parameters:
    inferPrivatePropertyTypeFromConstructor: true
    ignoreErrors:
        - '#Symfony\\Contracts\\EventDispatcher\\EventDispatcherInterface::dispatch\(\).*invoked with 2 parameters, 1 required\.#m'
        - '#Symfony\\Contracts\\EventDispatcher\\EventDispatcherInterface::dispatch\(\).*expects object, string given\.#m'
        - '#Call to an undefined method.*Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::children\(\)\.#m'
