<!DOCTYPE html>
<htmL>
    <head>
        <title>Login</title>
    </head>
    <body>
    {% block body %}
        <h1>Login</h1>

        {{ form_start(form) }}
            {{ form_row(form._username) }}
            {{ form_row(form._password) }}

            <button type="submit" class="btn">Login</button>
        {{ form_end(form) }}
    {% endblock %}
    </body>
</htmL>
