<!DOCTYPE html>
<htmL>
<head>
    <title>
    {% block connectholland_user_email_title %}
    {% endblock %}
    </title>
</head>
<body>
{% block connectholland_user_email_content %}
{% endblock %}
</body>
</htmL>
