{% extends 'emails/base.html.twig' %}

{% block connectholland_user_email_title %}Registration{% endblock %}

{% block connectholland_user_email_content %}
    <h1>Registration</h1>
    <a href='{{ link }}'>Confirm registation</a>
{% endblock %}
