<!DOCTYPE html>
<htmL>
    <head>
        <title>Reset password</title>
    </head>
    <body>
        {% block body %}
            <h1>Reset password</h1>
            <a href='{{ link }}'>Choose a new password</a>
        {% endblock %}
    </body>
</htmL>
