{% extends 'emails/base.html.twig' %}

{% block connectholland_user_email_title %}Reset Password{% endblock %}

{% block connectholland_user_email_content %}
    <h1>Reset Password</h1>
    <a href='{{ link }}'>Choose a new password</a>
{% endblock %}
